body{
    margin: 0;
}

.title{
    color: blueviolet;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.3cm;
}

.h1{
    color: coral;
    font-size: 72px;
}

.box{
    width: 100%;
    height: 600px;
    background-color: cadetblue;
    border-top: 10px beige solid;
    border: 5px salmon solid;
    /*padding-left: 30px;*/
    padding: 20px 50px 88px 100px;
    margin-top: 30%;
    /*order-top 10px blue dotted,*/
    color: black;
}

.p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration:double;
    text-decoration:line-through;
}

.table{
    background-color: chocolate;
    font: 16x Georgia, "Times New Roman", Times;
    font-weight: 700;
}

.tr{
    background-color: darkgreen;
}

.td{
    background-color: blueviolet;
}